{
	"env" : {
		"browser" : true,
        "node" : true
	},
    "rules" : {
        "eqeqeq" : [2],    
        "indent" : 2,
        "no-undef" : 2,
        "no-unused-vars" : 2,  
        "no-use-before-define" : 0,      
        "brace-style" : [2, "stroustrup"],
        "camelcase" : 2,
        "consistent-this" : [2, "self"],
        "strict" : 0,
        "no-trailing-spaces" : 2,
        "space-before-blocks" : [2, "always"],
        "space-before-function-paren" : [2, "always"],
        "space-after-keywords" : [2, "always"],
        "dot-notation" : 2,
        "eol-last" : 0,
        "quotes" : [2, "single", "avoid-escape"],
        "no-underscore-dangle" : 0,
        "key-spacing" : [2, {
            "beforeColon" : true,
            "afterColon" : true
        }]        
    }	    
}