<div class="bv-inline-rating-module">
    <p class="bv-question">{{questionText}}</p>
    <textarea class="bv-question-field" name="bvAnswer" cols="40" rows="1" placeholder="Tell us what you think..."></textarea>    
    <div class="bv-buttons">
        <a class="common-button fr bv-submit-answer-button" href="javascript:void(0)" data-productid={{productId}}>Submit Answer</a>
    </li>
</div>