<div class="bv-inline-rating-module">
    {{> stars .}}
    <div class="bv-buttons">
        <a class="common-button fr bv-submit-button" href="javascript:void(0)" data-productid={{productId}}>Submit Rating</a>
    </li>
</div>